<h1>Listing dogs</h1>

<table border='1' cellspacing='0' cellpadding='10'>
  <tr>
    <th>Name</th>
    <th>Photo</th>
    <th colspan=3>Maintaion</th>
  </tr>

<%# for dog in @dogs %>
<% @dogs.each do |dog| %>
  <tr>
    <td><%=h dog.name %></td>
    <td>
      <% dog.uploads.each do |u| %>
      <%= u.description %>
      <%= image_tag u.photo.url(:thumb) %>&nbsp;&nbsp;
      <% end %>
    </td>
    <td><%= link_to 'Show', dog %></td>
    <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
    <td><%= link_to 'Destroy', dog, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dog', new_dog_path %>
